/TestResults/*
/tests/Splitio.TestSupport/bin
/tests/Splitio.TestSupport/obj
/.vs
/tests/Splitio-tests/bin
/tests/Splitio-tests/obj
/tests/Splitio-tests/obj/Debug
/tests/Splitio-tests/obj/Debug

/tests/Splitio.Integration-events-tests/obj
/tests/Splitio.Integration-events-tests/bin
/tests/Splitio.Integration-redis-tests/obj
/tests/Splitio.Integration-redis-tests/bin
/tests/Splitio.Integration-tests/obj
/tests/Splitio.Integration-tests/bin
/tests/Splitio.Tests.Common/obj
/tests/Splitio.Tests.Common/bin
/tests/Splitio.Integration-tests/TestResults
/Splitio.Redis/bin
/Splitio.Redis/obj
/src/Splitio/bin
/src/Splitio/obj
