TestResults/*
packages/*
SplitioTests/bin/*
SplitioTests/obj/*
Splitio.TestSupport/bin
Splitio.TestSupport/obj
/.vs
*.user
/Splitio-tests/bin
/Splitio-tests/obj
/Splitio.Integration-tests/obj
/Splitio.Integration-tests/bin
/Splitio.Redis/bin
/Splitio.Redis/obj
/src/Splitio/bin
/src/Splitio/obj
